extends ../shared/template
block content
  h2 Profile
  .panel.panel-default
    .panel-body
      .row
        .col-xs-6
          h3= dispUser.name
        .col-xs-6
      .row
        .col-xs-6
          table.table.table-bordered
            tbody
              each prop in Object.keys(dispUser)
                unless prop === 'email' || prop === '_id' || prop === 'password' || prop === 'photo' || prop === 'isPublic' || prop === 'tagline' || prop === 'name'
                  tr
                    td= prop.charAt(0).toUpperCase() + prop.substring(1)
                    td= dispUser[prop]
          .row
            .col-xs-12
              h4 Send Message:
              form(role='form', method='post', action='/message/#{dispUser._id}')
                .form-group
                  .radio
                    label
                      input.radio(type="radio", name="mtype", value="text")
                      span Text
                  .radio
                    label
                      input.radio(type="radio", name="mtype", value="email")
                      span Email
                  .radio
                    label
                      input.radio(type="radio", name="mtype", value="internal")
                      span In-mail
                .form-group
                  label(for='message') Message
                  textarea.form-control#message(name='message')
                button.btn.btn-success(type='submit') Send Message
        .col-xs-6
          .row
            .col-xs-12
              if dispUser.photo
                .photo(style='background-image:url(#{dispUser.photo});')
          .row
            .col-xs-12
              if dispUser.tagline
                h4= dispUser.tagline


block scripts

